<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Globe"
        tools:targetApi="31">
        <activity
            android:name=".Cyprus"
            android:exported="false" />
        <activity
            android:name=".Cambodia"
            android:exported="false" />
        <activity
            android:name=".China"
            android:exported="false" />
        <activity
            android:name=".Brunei"
            android:exported="false" />
        <activity
            android:name=".Bhutan"
            android:exported="false" />
        <activity
            android:name=".Bahrain"
            android:exported="false" />
        <activity
            android:name=".Bangladesh"
            android:exported="false" />
        <activity
            android:name=".Azebaijan"
            android:exported="false" />
        <activity
            android:name=".Armenia"
            android:exported="false" />
        <activity
            android:name=".Afganistan"
            android:exported="false" />
        <activity
            android:name=".Antertica"
            android:exported="false" />
        <activity
            android:name=".Ocaenia"
            android:exported="false" />
        <activity
            android:name=".SouthAmerica"
            android:exported="false" />
        <activity
            android:name=".NorthAmerica"
            android:exported="false" />
        <activity
            android:name=".Europe"
            android:exported="false" />
        <activity
            android:name=".Africa"
            android:exported="false" />
        <activity
            android:name=".Asia"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>